// Палитра цветов

// Палитра формы
$form_title: #3607b6;
$form_background: #3910f0;
$form_button: #6b00f7;
$form_shadow: 6px 5px 5px
	rgba(
		$color: #000000,
		$alpha: 0.5,
	);

// Палитра контактов
$list_background: #0c62d3;
$list_name: #dbdbdb;
$list_title: #f1be2f;
$button_disabled: #a8a8a8;

// Default
$black: black;
$white: white;
$red: red;
