@import "/src/assets/style/palette.scss";

.wrapper {
	position: relative;

	.empty {
		color: $list-title;
		margin-top: 40px;
		font-weight: 600;
		font-size: 30px;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		justify-content: center;
		align-self: center;
	}

	.title {
		color: $form-title;
	}
}
