@import "/src/assets/style/palette.scss";

.wrapper {
	position: relative;
	
	.header {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		justify-content: center;
		align-self: center;
	}

	.title {
		color: $form-title;
	}
}
