@import "/src/assets/style/palette.scss";

.wrapper {
	.content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		justify-content: center;
		align-self: center;
	}

	.title {
		color: $form-title;
	}
}
